@charset "utf-8";
h4 {
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
	letter-spacing: -2.8px;
	word-spacing: -1.4px;
	color: #405EFF;
	font-weight: 2000;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
